.coins-img {
    position: relative;
    z-index: 2;
    top: 50px;
    max-width: 100px;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.detail-img {
    max-width: 100px;
}

.card {
    z-index: 1;
}