.fade {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    0% { opacity: 0;}
    90% { opacity: 0.9}    
    100% { opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    90% { opacity: 0.9}
    100% { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    90% { opacity: 0.9}
    100% { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    90% { opacity: 0.9}
    100% { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; }
    90% { opacity: 0.9}
    100% { opacity: 1; }
}