body {
    background: linear-gradient(180deg, #98A9C4 4.93%, #677EA0 10.59%, #2F4C78 100%);
    background-attachment: fixed;
}

.navbar-toggler-icon{
    background-image: url(./assets/menu.svg)!important;
}
.navbar-toggler{
    border: none;
    outline: none;
}